{{ define "main" }}
<section class="posts-list" style="display: block; margin-top: 3rem;">
    <div class="container posts-list__container">
        <div class="blog-categories" style="text-align: center; margin-bottom: 2rem;">
            {{ range .Site.Taxonomies.categories }}
            <a href="{{ .Page.Permalink }}" class="category-btn">{{ .Page.Title }}</a>
            {{ end }}
        </div>
        
        <div class="blog-posts">
            {{ $paginator := .Paginate .Pages 10 }}
            {{ range $paginator.Pages }}
            <article class="blog-post">
                <time class="blog-post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
                <a class="blog-post-link" href="{{ .Permalink }}">
                    {{ $thumb := .Params.thumbnail | default .Params.image | default .Params.cover | default .Params.featured }}
                    {{ if not $thumb }}
                        {{ $img := findRE "<img src=\"([^\"]+)\"" .Content 1 }}
                        {{ range $img }}
                            {{ $thumb = . | replaceRE "<img src=\"" "" | replaceRE "\"" "" }}
                        {{ end }}
                    {{ end }}
                    
                    {{ if $thumb }}
                    <div class="blog-post-thumb">
                        <img src="{{ $thumb | relURL }}" alt="{{ .Title }} thumbnail" loading="lazy">
                    </div>
                    {{ end }}
                    <div class="blog-post-body">
                        <h3>{{ .Title }}</h3>
                        {{ with .Params.subtitle }}
                        <p class="blog-post-subtitle">{{ . }}</p>
                        {{ end }}
                    </div>
                </a>
            </article>
            {{ end }}
        </div>
        
        {{ if gt $paginator.TotalPages 1 }}
        <div class="pagination" style="text-align: center; margin-top: 2rem;">
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" class="btn btn-secondary">{{ i18n "prev_page" }}</a>
            {{ end }}
            {{ range $paginator.Pagers }}
            <a href="{{ .URL }}" class="btn {{ if eq . $paginator }}btn-primary{{ else }}btn-secondary{{ end }}">{{ .PageNumber }}</a>
            {{ end }}
            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" class="btn btn-secondary">{{ i18n "next_page" }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{ end }}